@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*,*::after,::after{
    box-sizing: border-box;
}

:root{
    --font-small:.5rem;
    --font-regular:1rem;
    --font-large:1.5rem;
    --font-xl:4rem;
    --spacing-medium:8px;
    --spacing-regular: 16px;
    --font-semibold : 600;
}

h1,h2{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}
p{
    margin: var(--spacing-regular);
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
    margin: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    margin: 2rem 1rem 2rem 1rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "search search"
    "current current"
    "hourly hourly"
    "fiveday fiveday"
    "feellike humidity"
    ;
    gap: var(--spacing-regular);
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
}
.container,.container>article {
    padding: var(--spacing-regular);
    border-radius: var(--spacing-medium);
    backdrop-filter: blur( 5px );
    background: rgba( 255, 255, 255, 0.5 );
}

#search{
    grid-area: search;;
    text-align: center;
    font-size: var(--font-large);
    border-radius: var(--font-small);
    padding: var(--spacing-medium);
    backdrop-filter: blur( 5px );
    border: none;
}
#search datalist > option{
    width: 100%;
}

#current-forecast{
    grid-area: current;
    text-align: center;
}
#current-forecast .temp{
    font-size: var(--font-xl);
    
}
#current-forecast .description{
    text-transform: capitalize;
    font-size: var(--font-regular);
    font-weight: var(--font-semibold);
}
#current-forecast .min-max-temp{
    font-size: var(--font-regular);
    font-weight: var(--font-semibold);
}


#hourly-forecast{
    grid-area: hourly;
    text-align: center;
    justify-content: center;
    display: grid;
}
#hourly-forecast .hourly-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(100,1fr);
    overflow-x: auto;
    gap: var(--spacing-regular);
    justify-items: center;
}

#hourly-forecast .hourly-container::-webkit-scrollbar {
    display: none;
}
#hourly-forecast .hourly-container .icon{
    height: 100px;
    width: 100px;
    object-fit: contain;
}
#hourly-forecast .hourly-container .hourly-temp{
    font-size: var(--font-regular);
    font-weight: var(--font-semibold);
}

#hourly-forecast .hourly-container h3,#hourly-forecast .hourly-container p{
    margin: 0;
    margin: auto;
}


#five-day-forecast{
    grid-area: fiveday;
    text-align: center;
}
#five-day-forecast .five-day-forecast-container{
    display: grid;
    grid-auto-flow: row;
}
.five-day-forecast-container .day-wise-forecast{
    display: grid;
    grid-template: auto/repeat(4,1fr);
    gap: var(--spacing-regular);
    place-items: center;
}
.five-day-forecast-container .day-wise-forecast .min-temp,
.five-day-forecast-container .day-wise-forecast .max-temp{
    font-size: var(--font-regular);
    font-weight: var(--font-semibold);
    margin: 0;
}
.five-day-forecast-container .day-wise-forecast .min-temp{
    opacity: 50%;
}
.five-day-forecast-container .day-wise-forecast .icon{
    width: 75px;
    height: 75px;
}
.five-day-forecast-container .day-wise-forecast > h3{
    text-transform: uppercase;
    font-size: var(--font-regular);
    font-weight: var(--font-semibold);
}

/* Feel likes and Humidity */
#feels-like{
    grid-area: feellike;
    display: grid;
    text-align: center;
    font-size: var(--font-regular);
    justify-items: center;

}
#humidity{
    grid-area: humidity;
    text-align: center;
    font-size: var(--font-regular);
    justify-items: center;
    display: grid;

}
#humidity p, #feels-like p{
    margin: 0;
    margin: auto;
    font-size: var(--font-regular);
    font-weight: var(--font-semibold);
}
#humidity h3, #feels-like h3{
    margin: 0;
    margin: auto;
    font-size: var(--font-large);
    font-weight: var(--font-semibold);
}

@media (width > 650px) {
    .container {
        grid-template-columns: repeat(4,1fr);
        grid-template-areas: 
        "search search search search"
        "current current current current"
        "hourly hourly fiveday fiveday"
        "feellike humidity fiveday fiveday"
        ;
    }
}